-- =======================================================================================
-- TRANQUIL LUXURY FASHION: SECURITY PATCHES V4 (STORAGE HARDENING)
-- =======================================================================================

-- 1. Apply bucket-level constraints for public-assets
UPDATE storage.buckets
SET file_size_limit = 5242880,
    allowed_mime_types = ARRAY['image/jpeg', 'image/png', 'image/webp']
WHERE id = 'public-assets';

-- 2. Apply bucket-level constraints for payment_screenshots
UPDATE storage.buckets
SET file_size_limit = 5242880,
    allowed_mime_types = ARRAY['image/jpeg', 'image/png', 'image/webp']
WHERE id = 'payment_screenshots';
